<nb-layout>
  <nb-layout-header fixed>
      <app-encabezado></app-encabezado>
  </nb-layout-header>
  
  <nb-layout-column>
    
    <div class="container">
        <div class="row">
            <form [formGroup]="form">
            <div class="row">
              <div class="col-sm">
                <label>Tipos de Datos: </label>
                <mat-radio-group formControlName = "tipoDato">
                  <mat-radio-button #radio *ngFor="let tipoDatos of tipoDatos" [value]=tipoDatos.value>{{tipoDatos.tag}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-sm">
                <label>Tipo Filtro: </label>
                <mat-radio-group formControlName = "rango">
                  <mat-radio-button #radio *ngFor="let rangos of rangos" [value]=rangos.value>{{rangos.tag}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-sm"></div>
            </div>
            <div class="row">
              <div class="col-sm">
                  <mat-form-field >
                      <input matInput [matDatepicker]="dp" placeholder="Mes y Año" formControlName="fechaInicial">
                      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                      <mat-datepicker #dp
                        startView="multi-year"                
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
                      </mat-datepicker>
                  </mat-form-field>
              </div>
              <div class="col-sm">
                  <mat-form-field >
                      <input matInput [matDatepicker]="dp2" placeholder="Mes y Año" formControlName="fechaFinal">
                      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                      <mat-datepicker #dp2
                        startView="multi-year"                
                        (yearSelected)="chosenYearHandler2($event)"
                        (monthSelected)="chosenMonthHandler2($event, dp2)"
                        panelClass="example-month-picker2">
                      </mat-datepicker>
                  </mat-form-field>
              </div>
              <div class="col-sm">
                  <button class="btn-ingresar" mat-raised-button color="primary" type=submit (click)="parametrosReporte()">Ingresar</button>
              </div>
            </div>
          </form>
          </div>
      
      <div class ="row">
          <form class="row">
              <div class="col-sm">
                  <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    </mat-form-field>
              </div>
      
              <div class="col-sm">
                  <mat-form-field>
                      <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Filtrar">
                    </mat-form-field>
              </div>
      
              <div class="col-sm">
                  <button mat-raised-button color="secundary" (click)="cancelarFiltro()" type="reset">Limpiar Filtros</button>
              </div>
            </form>
          
            <div class="col-sm">
                <button mat-raised-button color="primary" id="btnExcel" (click)="ExportAsXLSX()"><mat-icon>description</mat-icon>
                  Excel</button>
                &nbsp;
                <button mat-raised-button color="accent"  id="btnExcelFil" (click)="ExportAsXLSXFilter()"><mat-icon>description</mat-icon> Excel Filtrado</button>
            </div>

      </div> <!--row principal-->

    </div> <!--container-->
   
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
      <!-- Position Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.COD_PRODUCTO}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.NOMBRE_PRODUCTO}} </td>
      </ng-container>
   
      <!-- Weight Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.MONEDA}} {{element.PRECIO}}</td>
      </ng-container>

      <ng-container matColumnDef="precio unitario">
          <th mat-header-cell *matHeaderCellDef> Precio Unitario</th>
          <td mat-cell *matCellDef="let element"> {{element.MONEDA}} {{element.PRECIO_UNITARIO}}</td>
        </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.USO}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.FECHA}} </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
    
    
    &nbsp;
  
  </nb-layout-column>
  <nb-sidebar tag="menu-sidebar">
      <app-barra-menu></app-barra-menu>
  </nb-sidebar>
  <nb-layout-footer fixed>
      <app-pie-pagina></app-pie-pagina>
  </nb-layout-footer>
</nb-layout>



