table {
    width: 100%;
}

.botones{
    float: right;
}

#btnExcel, #btnExcelFil {
    background-color: darkgreen;
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }

 .mat-radio-button {
    margin: 0 12px;
  }



  .row{
    margin-bottom: 10px;
    color: black;
  }

