
<!-- -----------------------------------------------------------------------
---------Formulario de ingreso de nuevos usuarios---------------
----------------------------------------------------------------------- -->

<nb-layout>

    <nb-layout-header fixed>
        <app-encabezado></app-encabezado>
    </nb-layout-header>

    <nb-layout-column>
        <mat-card class="formulario">
            <!-- -----------------------------------------------------------------------
              -----------------------Titulo descriptivo del formulario---------------------------
              ----------------------------------------------------------------------- -->

            <div class="cont-titulo">
              <mat-card>
                <mat-card-title>Ingresar Usuarios</mat-card-title>
              </mat-card>
            </div>
            <!-- TODO: Tratar de agregar el metodo de limpieza de input: https://material.angular.io/components/input/examples  -->
            <!-- -----------------------------------------------------------------------
              -----------------------Opciones del Formulario---------------------------
              ----------------------------------------------------------------------- -->
            <div class="cont-opciones">
              <form class="form-ingreso" #formulario="ngForm" (ngSubmit)="formulario.form.valid && datosModal(formulario)">


                <div class="dos-elementos">

                  <!-- -----------------------------------------------------------------------
                      -----------------------ID_RESPONSABLE---------------------------
                      ----------------------------------------------------------------------- -->
                <mat-form-field>
                    <input matInput type="text" placeholder="ID Responsable" name="idResponsable"
                    maxlength="7" minlength="6" pattern="[A-Z]{3}-[0-9]{2,3}"
                    [ngClass]="{'is-invalid': formulario.submitted && idResponsable.invalid}" required
                    name="idResponsable" #idResponsable="ngModel" [(ngModel)]="model.idResponsable">
                    <mat-error *ngIf="idResponsable.errors?.required">El ID Responsable  es requerido</mat-error>
                    <mat-error *ngIf="idResponsable.errors?.pattern">Formato de ID inválido</mat-error>
                  </mat-form-field>
                  <span></span>
                   <!-- --------------------------------------------------------------------- -->
                <!-- -----------------------------------------------------------------------
                          -----------------------Nombre usuario---------------------------
                          ----------------------------------------------------------------------- -->

                    <mat-form-field>
                        <input matInput type="text" placeholder="Nombre" name="nombre"
                        maxlength="30" pattern="[0-9a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+"
                        [ngClass]="{'is-invalid': formulario.submitted && nombre.invalid}" required
                        name="nombre" #nombre="ngModel" [(ngModel)]="model.idSucursal">
                        <mat-error *ngIf="nombre.errors?.required">El nombre es requerido</mat-error>
                      </mat-form-field>
                      <!-- --------------------------------------------------------------------- -->


                <span></span>
                <!-- -----------------------------------------------------------------------
                            -----------------------CONTRASENNA---------------------------
                            ----------------------------------------------------------------------- -->
                            <!-- mínimo 8 caracteres: letras (A-a), números y especiales -->

                     <mat-form-field>
                    <input matInput type="password" placeholder="Contraseña" name="contrasenna"
                    maxlength="30" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"

                    [ngClass]="{'is-invalid': formulario.submitted && contrasenna.invalid}" required
                     name="contrasenna" #contrasenna="ngModel" [(ngModel)]="model.contrasenna">
                     <mat-error *ngIf="contrasenna.errors?.required">La contraseña es requerida</mat-error>
                     <mat-error *ngIf="contrasenna.errors?.pattern">Formato incorrecto: debe tener al menos 8 caracteres especiales, letras o números</mat-error>

                    </mat-form-field>
                </div>


                <!-- --------------------------------------------------------------------- -->
                <!-- -----------------------------------------------------------------------
                  -----------------------Botones ingresar y cancelar---------------------------
                  ----------------------------------------------------------------------- -->
                <mat-card-actions class="botones">
                  <!-- TODO: Revisar la opcion de limpiar con la BD corriendo -->
                  <button class="btn-cancelar" mat-stroked-button color="warn" type="reset">Limpiar</button>
                  <button class="btn-ingresar" *nbIsGranted="['create', 'usuarios']" mat-raised-button color="primary" type=submit>Ingresar</button>
                </mat-card-actions>
              </form>
            </div>
          </mat-card>

    </nb-layout-column>

    <nb-sidebar tag="menu-sidebar">
        <app-barra-menu></app-barra-menu>
    </nb-sidebar>

    <nb-layout-footer fixed>
        <app-pie-pagina></app-pie-pagina>
    </nb-layout-footer>

</nb-layout>
