<nb-layout>
  <nb-layout-header fixed>
      <app-encabezado></app-encabezado>
  </nb-layout-header>
  <nb-sidebar tag="menu-sidebar">
    <app-barra-menu></app-barra-menu>
</nb-sidebar>
  <nb-layout-column>
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>                
        </div>
        <div class="row">
            <div class="col-sm">
                <ng2-smart-table
                    [settings]="settings"
                    [source]="productos"
                    (editConfirm)= "editar($event)"
                    (deleteConfirm)="desactivarProducto($event)"
                    (custom)="onFoo($event)">
                </ng2-smart-table>
            </div>                
        </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer fixed>
      <app-pie-pagina></app-pie-pagina>
  </nb-layout-footer>
</nb-layout>
