body {
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;

}
.tabla{
  padding-top:3%;
  padding-left:20%;
}


:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: green;
}
:host /deep/ ng2-smart-table th{
  text-align: center;
}
:host /deep/ ng2-smart-table tr{
  text-align: center;
  padding: 1px;
}
:host /deep/ ng2-smart-table ng2-smart-th{
  text-align: center;
}
:host /deep/ [_nghost-c2] .layout-container[_ngcontent-c2] .content[_ngcontent-c2] .columns[_ngcontent-c2] nb-layout-column{
  flex: 1 1;
}
:host /deep/ ng2-smart-table input{
    /* Firefox, Chrome, Opera */
    text-align: center;
}
:host /deep/ ng2-smart-table tr.aviso{
  background-color: #f8f9be !important;
}
:host /deep/ ng2-smart-table tr.aviso:hover{
  background-color: #f8fb73 !important;
}

:host /deep/ ng2-smart-table tr.critico{
  background-color: #F9C7BE !important;
}
:host /deep/ ng2-smart-table tr.critico:hover{
  background-color: #f49e8f !important;
}
tbody{
  height: 650px;
  overflow-y: auto;
  width: 100%;
  font-size: 16px;
}
/* thead th{
  float: left;
} */
th > tr, tbody{
    display:block;

}
tr.selected {
            background-color: #e92929 !important;
            color:#fff;
            vertical-align: middle;
            padding: 1.5em;
        }

th {
  /* position: -webkit-sticky; */
  /* position: -moz-sticky; */
  /* position: -ms-sticky;
  position: -o-sticky; */
  position: sticky;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  color:#D5DDE5;
  background:#252440;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-weight: 500;
  font-size:16px;
  padding:12px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-weight:normal;
  padding:10px;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background:#252440;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}
.selected {
    background-color: red;
}
tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#252440;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:100;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
