@import '../../../themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-weight: bold;
  }

  @include media-breakpoint-down(is) {
    .created-by {
      font-size: 0.9rem;
    }
  }
}
