




<nb-layout>

  <nb-layout-header fixed>
      <app-encabezado></app-encabezado> <!--llamado al componente encabezado-->
  </nb-layout-header>

  <nb-layout-column>
    <!-- se segmenta la estructura en un bloque principal (contenedor)
      y dos subbloques que contendrán los elementos, de forma que se permite una mejor
      organización de los elementos -->

    <!-- <div class="contenedor">
        <div class="izquierdo">
          <h1><b>Acerca de: </b></h1><br>
          <img src="../assets/logo-pagina/incolab.png" alt="Logo IncoLab">
          <br><br>
          <img src="../assets/acerca-de/UNA.png" alt="Logo Lab. Cartín" width="160">
        </div>
        <div class="derecho">
          <div class="texto">
            <h6><p><b>
              <br><br><br>
              El Sistema IncoLab, fue un proyecto desarrollado en convenio con la empresa Laboratorios Clínicos Cartín,
              el cual consistió en el desarrollo de dicho software con la modalidad de "a la medida". La duración de este fue
              de 1 año y 6 meses dividido en tres semestres correspondientes a los cursos Ingeniería en Sistemas I, II Y III.<br><br>
              El desarrollo estuvo a cargo de los estudiantes de la Universidad Nacional pertenecientes a la carrera de Ingeniería
              en Sistemas de la Información, bajo el grupo de proyecto número 24, siendo los integrantes
              Adriana de los Ángeles Herrera Arias, Enzo Darío Quesada Rojas, Hilary Salas Huertas, Kevin Norberto Porras Vega
              y Leonardo Hidalgo Fonseca.<br><br>
              Para la organización del proyecto, se contó con la participación de Orlando Cartín Sánchez con un rol de patrocinador,
              el doctor Luis Diego Alfaro Cervantes como usuario líder y de Renato Coto como especialista de TI de la empresa.
              Cabe destacar que el proyecto se realizó desde cero, iniciando con el establecimiento del alcance, requisitos o
              necesidades para el desarrollo de la herramienta bajo el ciclo de vida de proyectos con un enfoque SCRUM que permitió
              el desarrollado del mismo por etapas en las cuales se contó con la participación activa de los integrantes de la organización.
          </b></p></h6>
          </div>
        </div>
      </div> -->

      <nb-card>
          <nb-card-header>Acerca de:</nb-card-header>
          <nb-card-body>
              El Sistema IncoLab, fue un proyecto desarrollado en convenio con la empresa Laboratorios Clínicos Cartín,
              el cual consistió en el desarrollo de dicho software con la modalidad de "a la medida". La duración de este fue
              de 1 año y 6 meses dividido en tres semestres correspondientes a los cursos Ingeniería en Sistemas I, II Y III.<br><br>
              El desarrollo estuvo a cargo de los estudiantes de la Universidad Nacional pertenecientes a la carrera de Ingeniería
              en Sistemas de la Información, bajo el grupo de proyecto número 24, siendo los integrantes
              Adriana de los Ángeles Herrera Arias, Enzo Darío Quesada Rojas, Hilary Salas Huertas, Kevin Norberto Porras Vega
              y Leonardo Hidalgo Fonseca.<br><br>
              Para la organización del proyecto, se contó con la participación de Orlando Cartín Sánchez con un rol de patrocinador,
              el doctor Luis Diego Alfaro Cervantes como usuario líder y de Renato Coto como especialista de TI de la empresa.
              Cabe destacar que el proyecto se realizó desde cero, iniciando con el establecimiento del alcance, requisitos o
              necesidades para el desarrollo de la herramienta bajo el ciclo de vida de proyectos con un enfoque SCRUM que permitió
              el desarrollado del mismo por etapas en las cuales se contó con la participación activa de los integrantes de la organización.
          </nb-card-body>
          <nb-card-footer>
              <img src="../assets/acerca-de/UNA.png" alt="Logo Universidad Nacional" width="120">
          </nb-card-footer>
        </nb-card>
  </nb-layout-column>

  <nb-sidebar tag="menu-sidebar">
      <app-barra-menu></app-barra-menu> <!--llamado al componente menú-->
  </nb-sidebar>

  <nb-layout-footer fixed>
      <app-pie-pagina></app-pie-pagina> <!--llamado al componente footer-->
  </nb-layout-footer>

</nb-layout>
