<nb-layout>

    <nb-layout-header fixed>
        <app-encabezado></app-encabezado> <!--Llamado al componente encabezado-->
    </nb-layout-header>

    <nb-layout-column>
        <!-- -----------------------------------------------------------------------
        ---------Formulario de ingreso de nuevas Sucursales---------------
        ----------------------------------------------------------------------- -->
        <mat-card class="formulario">  <!--mat proviene de Angular Material (API)-->
            <!-- -----------------------------------------------------------------------
              -----------------------Titulo descriptivo del formulario---------------------------
              ----------------------------------------------------------------------- -->
            <div class="cont-titulo">
              <mat-card>
                <mat-card-title>Ingresar Proveedor</mat-card-title>
              </mat-card>
            </div>
            <!-- TODO: Tratar de agregar el metodo de limpieza de input: https://material.angular.io/components/input/examples  -->
            <!-- -----------------------------------------------------------------------
              -----------------------Opciones del Formulario---------------------------
              ----------------------------------------------------------------------- -->
            <div class="cont-opciones">
              <form class="form-ingreso" #formulario="ngForm" (ngSubmit)="formulario.form.valid && datosModal(formulario)">


                <div class="dos-elementos">

                  <!-- -----------------------------------------------------------------------
                      -----------------------ID PROVEEDOR---------------------------
                      ----------------------------------------------------------------------- -->
                <mat-form-field>
                    <input matInput type="text" placeholder="ID Proveedor" name="idProveedor"
                    maxlength="6" pattern="[A-Z]{3}-[0-9]{2,3}" [ngClass]="{'is-invalid': formulario.submitted && idProveedor.invalid}" required
                    name="idProveedor" #idProveedor="ngModel" [(ngModel)]="model.idProveedor">
                    <!--mensaje de error debido a espacio requerido-->
                    <mat-error *ngIf="idProveedor.errors?.required">El ID del proveedor es requerido</mat-error>
                    <mat-error *ngIf="idProveedor.errors?.pattern">Formato de ID inválido</mat-error>
                  </mat-form-field>
                   <!-- --------------------------------------------------------------------- -->
                <!-- -----------------------------------------------------------------------
                          -----------------------Nombre proveedor---------------------------
                          ----------------------------------------------------------------------- -->
                          <span></span>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Nombre Proveedor" name="proveedor"
                        maxlength="60" pattern="[0-9a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" [ngClass]="{'is-invalid': formulario.submitted && proveedor.invalid}" required
                        name="proveedor" #proveedor="ngModel" [(ngModel)]="proveedor.idSucursal">
                        <mat-error *ngIf="proveedor.errors?.required">El nombre del proveedor es requerido</mat-error>
                      </mat-form-field>
                      <!-- --------------------------------------------------------------------- -->


                <span></span>
                <!-- -----------------------------------------------------------------------
                            -----------------------Telefono---------------------------
                            ----------------------------------------------------------------------- -->
                     <mat-form-field>
                    <input matInput type="text" placeholder="Telefono" name="telefono"
                    maxlength="12" pattern="[0-9]+" [ngClass]="{'is-invalid': formulario.submitted && telefono.invalid}" required
                     name="telefono" #telefono="ngModel" [(ngModel)]="model.telefono">
                     <mat-error *ngIf="telefono.errors?.pattern">Solo se permiten números</mat-error>

                    </mat-form-field>
                </div>





                 <!-- -----------------------------------------------------------------------
                                  -----------------------correo---------------------------
                                  ----------------------------------------------------------------------- -->
                 <mat-form-field>
                  <input matInput type="email" placeholder="Correo" name="correo"
                  maxlength="60" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngClass]="{'is-invalid': formulario.submitted && correo.invalid}" required
                  name="correo" #correo="ngModel" [(ngModel)]="model.correo">
                  <mat-error *ngIf="correo.errors?.required">El correo del proveedor es requerido </mat-error>
                  <mat-error *ngIf="correo.errors?.pattern">Formato de email inválido</mat-error>
                  </mat-form-field>


                  <!-- -----------------------------------------------------------------------
                       -----------------------Descripcion---------------------------
                      ----------------------------------------------------------------------- -->
                 <mat-form-field>
                    <input matInput type="text" placeholder="Descripción" name="descripcion"
                    maxlength="100" pattern="[A-Za-z0-9]+" [ngClass]="{'is-invalid': formulario.submitted && descripcion.invalid}"
                    name="descripcion" #descripcion="ngModel" [(ngModel)]="model.descripcion">

                </mat-form-field>
                <!-- --------------------------------------------------------------------- -->

                <!-- --------------------------------------------------------------------- -->
                <!-- -----------------------------------------------------------------------
                  -----------------------Botones ingresar y cancelar---------------------------
                  ----------------------------------------------------------------------- -->
                <mat-card-actions class="botones">
                  <!-- TODO: Revisar la opcion de limpiar con la BD corriendo -->
                  <button class="btn-cancelar" mat-stroked-button color="warn" type="reset">Limpiar</button> <!--reinicia el formulario a los valores por defecto-->
                  <button class="btn-ingresar" *nbIsGranted="['create', 'ingresar']" mat-raised-button color="primary" type=submit>Ingresar</button> <!--envía los datos-->
                </mat-card-actions>
              </form>
            </div>
        </mat-card>

    </nb-layout-column>

    <nb-sidebar tag="menu-sidebar">
        <app-barra-menu></app-barra-menu> <!--llamado al componente menu, se coloca a la izquierda verticalmente-->
    </nb-sidebar>

    <nb-layout-footer fixed>
        <app-pie-pagina></app-pie-pagina> <!--llamado al componente footer-->
    </nb-layout-footer>
</nb-layout>
