<nb-layout>

    <nb-layout-header fixed>
        <app-encabezado></app-encabezado> <!--llamado al componente del encabezado-->
    </nb-layout-header>

    <nb-sidebar tag="menu-sidebar">
        <app-barra-menu></app-barra-menu> <!--llamado al componente del menu, verticalmente a la izquierda-->
    </nb-sidebar>

    <!--*************************FORMULARIO PARA MODIFICACIÓN***************************************-->
    <nb-layout-column>
        <mat-card class="formulario">
          <!-- -----------------------------------------------------------------------
            -----------------------Titulo descriptivo del formulario---------------------------
            ----------------------------------------------------------------------- -->
          <div class="cont-titulo">
            <mat-card>
              <mat-card-title>Modificar Producto</mat-card-title>
            </mat-card>
          </div>
          <!-- TODO: Tratar de agregar el metodo de limpieza de input: https://material.angular.io/components/input/examples  -->
          <!-- -----------------------------------------------------------------------
            -----------------------Opciones del Formulario---------------------------
            ----------------------------------------------------------------------- -->
          <div class="cont-opciones">
            <form class="form-ingreso" [formGroup]="form"> <!--proceso a realizar cuando se "envía" el formulario-->
              <!-- -----------------------------------------------------------------------
                    -----------------------Elemento Producto---------------------------
                    ----------------------------------------------------------------------- -->
              <mat-form-field>
                <input matInput type="text" formControlName="producto" placeholder="Producto">
                <!--mensaje de error-->
                <mat-error *ngIf="form.get('producto').invalid">Ingrese un nombre</mat-error>
              </mat-form-field>
              <!-- --------------------------------------------------------------------- -->
              <!-- -----------------------------------------------------------------------
                        -----------------------Elemento Código---------------------------
                        ----------------------------------------------------------------------- -->
              <div class="dos-elementos">
                <mat-form-field>
                    <input matInput type="text" formControlName="codigo" placeholder="Código"  >
                    <mat-error *ngIf="form.get('codigo').invalid">El código debe poseer el siguiente patrón ABC-123</mat-error>
                </mat-form-field>
                <!-- --------------------------------------------------------------------- -->
                <span></span>
                <!-- -----------------------------------------------------------------------
                              -----------------------Elemento Categoría---------------------------
                              ----------------------------------------------------------------------- -->
                <mat-form-field class="span">
                    <select matNativeControl placeholder="Categoría" formControlName="categoria" >
                        <option value="Seleccione" selected>Seleccione la categoría</option>
                        <option *ngFor = "let c of categorias">{{ c.NOMBRE_CATEGORIA }}</option> <!--se cargan las diferentes categorías de forma dinámica-->
                    </select>
                    <mat-error *ngIf="form.get('categoria').invalid">La categoría es requerida</mat-error>
                  </mat-form-field>
              </div>
              <!-- --------------------------------------------------------------------- -->
              <div class="dos-elementos">
                <!-- -----------------------------------------------------------------------
                            -----------------------Elemento Sub Categoría---------------------------
                            ----------------------------------------------------------------------- -->
                <mat-form-field>
                  <select matNativeControl formControlName="subcategoria" placeholder="Sub Categoría" >
                    <option value="Seleccione" selected>Seleccione la subcategoría</option>
                    <option *ngFor = "let sub of subcategorias">{{ sub.NOMBRE_SUB_CATEGORIA }}</option> <!--se cargan las subcategorías de forma dinámica-->
                  </select>
                </mat-form-field>
                <!-- --------------------------------------------------------------------- -->
                <span></span>
                <!-- -----------------------------------------------------------------------
                            -----------------------Elemento Presentación---------------------------
                            ----------------------------------------------------------------------- -->
                <mat-form-field>
                  <select matNativeControl formControlName="presentacion" placeholder="Presentación">
                    <option value="Seleccione" selected>Seleccione la presentación</option>
                    <option *ngFor = "let p of presentaciones">{{ p.NOMBRE_PRESENTACION }}</option>
                  </select>
                </mat-form-field>
                <!-- --------------------------------------------------------------------- -->

              </div>
              <!-- --------------------------------------------------------------------- -->
              <div class="dos-elementos">
                <!-- -----------------------------------------------------------------------
                            -----------------------Elemento Unidad---------------------------
                            ----------------------------------------------------------------------- -->
                <mat-form-field>
                  <input matInput formControlName="unidad" placeholder="Unidad">
                    <mat-error *ngIf="form.get('unidad').invalid">Solo se permiten números</mat-error>
                </mat-form-field>
                <!-- --------------------------------------------------------------------- -->
                <span></span>
                <!-- -----------------------------------------------------------------------
                            -----------------------Elemento Unidad de Medida---------------------------
                            ----------------------------------------------------------------------- -->
                <mat-form-field class="span">
                  <select matNativeControl formControlName="unidadpresentacion" placeholder="Unidad de presentación">
                    <option value="Seleccione" selected>Seleccione la unidad</option>
                    <option *ngFor = "let un of unidades">{{ un.NOMBRE_UNIDAD }}</option>
                  </select>
                </mat-form-field>
                <!-- --------------------------------------------------------------------- -->
              </div>
              <!-- --------------------------------------------------------------------- -->
              <div class="dos-elementos">
                <!-- -----------------------------------------------------------------------
                            -----------------------Elemento Costo---------------------------
                            ----------------------------------------------------------------------- -->
                <mat-form-field>
                  <input matInput formControlName="costo" placeholder="Costo">
                    <mat-error *ngIf="form.get('costo').invalid">Solo se permiten números</mat-error>
                </mat-form-field>
                <!-- --------------------------------------------------------------------- -->
                <span></span>
                <!-- -----------------------------------------------------------------------
                            -----------------------Elemento Moneda---------------------------
                            ----------------------------------------------------------------------- -->
                <mat-form-field class="span">
                  <select matNativeControl formControlName="moneda" placeholder="Moneda" >
                    <option value="Seleccione" selected>Seleccione la moneda</option>
                    <option value="colones">Colones</option>
                    <option value="dolares">Dólares</option>
                  </select>
                </mat-form-field>
                <!-- --------------------------------------------------------------------- -->
              </div>
              <div class="dos-elementos">
                <!-- -----------------------------------------------------------------------
                            -----------------------Elemento Productos en Stock---------------------------
                            ----------------------------------------------------------------------- -->
                <mat-form-field>
                  <input matInput placeholder="Productos en Stock" formControlName="stock"
                    min="0" maxlength="9" pattern="[-+]?[0-9]*\.?[0-9]+">
                    <!-- <mat-error *ngIf="stock.errors?.pattern">Solo se permiten números</mat-error> -->
                </mat-form-field>
                <!-- --------------------------------------------------------------------- -->
                <span></span>
                <!-- -----------------------------------------------------------------------
                            -----------------------Elemento Productos en Uso---------------------------
                            ----------------------------------------------------------------------- -->
                <mat-form-field>
                    <input matInput placeholder="Productos en Uso" formControlName="enuso"
                        min="0" maxlength="9" pattern="[-+]?[0-9]*\.?[0-9]+">
                    <!-- <mat-error *ngIf="stock.errors?.pattern">Solo se permiten números</mat-error> -->
                </mat-form-field>
                <!-- --------------------------------------------------------------------- -->
              </div>
              <div class="dos-elementos">
                  <!-- -----------------------------------------------------------------------
                              -----------------------Estado Crítico---------------------------
                              ----------------------------------------------------------------------- -->
                  <mat-form-field>
                    <input matInput placeholder="Estado Crítico"
                      min="0" maxlength="9" pattern="[-+]?[0-9]*\.?[0-9]+" formControlName="estado">
                      <!-- <mat-error *ngIf="stock.errors?.pattern">Solo se permiten números</mat-error> -->
                  </mat-form-field>
                  <!-- --------------------------------------------------------------------- -->
                  <span></span>
                  <!-- -----------------------------------------------------------------------
                        -----------------------Elemento Fecha de Vencimiento---------------------------
                        ----------------------------------------------------------------------- -->
                    <mat-form-field>
                         <input matInput formControlName="fechaVencimiento" type="date" placeholder="Fecha de Vencimiento" timezone="[[timezone]]">
                    </mat-form-field>
              </div>
              <!-- --------------------------------------------------------------------- -->
              <!-- -----------------------------------------------------------------------
                    -----------------------Elemento Proveedor---------------------------
                    ----------------------------------------------------------------------- -->
              <mat-form-field>
                <select matNativeControl formControlName="proveedor" placeholder="Proveedor">
                    <!-- TODO: [(ngValue)]="seleccion" [disabled]="true" -->
                    <option value="Seleccione" selected>Seleccione el proveedor</option>
                    <option *ngFor="let p of proveedores"> {{ p.NOMBRE_PROVEEDOR }}</option>
                </select>
                <mat-error *ngIf="form.get('proveedor').invalid">El proveedor es requerido</mat-error>
              </mat-form-field>
              <!-- --------------------------------------------------------------------- -->
              <!-- -----------------------------------------------------------------------
                    -----------------------Elemento Descripción---------------------------
                    ----------------------------------------------------------------------- -->
              <mat-form-field class="descripcion">
                <textarea matInput formControlName="descripcion" placeholder="Descripción"></textarea>
              </mat-form-field>
              <!-- --------------------------------------------------------------------- -->
              <!-- -----------------------------------------------------------------------
                -----------------------Botones ingresar y cancelar---------------------------
                ----------------------------------------------------------------------- -->
              <mat-card-actions class="botones">
                <button class="btn-ingresar" mat-raised-button color="primary" type=submit (click)="modalSwal()">Ingresar</button> <!--"envío de la información modificada"-->
                <button class="btn-ingresar" mat-raised-button color="accent" type=submit [routerLink]="['/inicio/tabla']" routerLinkActive="router-link-active" >Cancelar</button><!--recarga la tabla para cancelar los cambios realizados-->
              </mat-card-actions>
            </form>
          </div>
        </mat-card>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <app-pie-pagina></app-pie-pagina> <!--llamado al componente footer-->
    </nb-layout-footer>
</nb-layout>
