// ----------------------------------------------------------------------
// ------Estilos formulario de ingreso de insumos de forma manual--------
// ----------------------------------------------------------------------


// -----------------------------------------
.formulario {

  // Posición del formulario en base a la página
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-bottom: 3%;
  margin-top: 2%;
  // Estilo del borde del formulario
  border-radius: 10px;
  border: 1px solid #a49e9e;
  // -----------------------------------------
  .cont-titulo {
      // Margenes
      margin-top: 1%;
      margin-bottom: 2%;
  }
  // -----------------------------------------
  .cont-opciones {
      // -----------------------------------------
      .form-ingreso {
          // Posición de los elemntos del formulario
          display: flex;
          flex-direction: column;

          // TODO: Buscar ideas de colores de las letras que se rellenan
          color: rgb(0, 0, 0);
          // -----------------------------------------
          mat-form-field {
              // Tamaño de los elementos del formulario
              width: 100%;
          }
          span {
              // Espaciado entre los elementos agrupados en parejas
              width: 15px;
          }
          // -----------------------------------------
          .dos-elementos {
              // Posicionamiento de los elementos agrupados en parejas
              display: flex;
              flex-direction: row;
              // -----------------------------------------
              .span {
                  // Ajuste de la alineación de los elementos agrupados en parejas
                  margin-top: -2px;
              }
          }
      }
  }

  // -----------------------------------------
  .botones {
      // Posición de los botones
      display: flex;
      flex-direction: row;
      justify-content: right;
      // -----------------------------------------
      .btn-cancelar {
        margin-right: 1%;
      }
      // -----------------------------------------
      .btn-ingresar {
        margin-left: 1%;
      }
  }
}

@media screen and (max-width: 991px) {
  .formulario {
      width: 70%;
  }
}
@media screen and (max-width: 770px) {
  // -----------------------------------------
  .formulario {
      // -----------------------------------------
      .cont-titulo {

          // -----------------------------------------
          mat-card {
              padding: 5px;
              // -----------------------------------------
              mat-card-title {
                  font-size: 20px;
              }
          }
      }
      // -----------------------------------------
      .cont-opciones {
          // -----------------------------------------
          .form-ingreso {
              // -----------------------------------------
              .dos-elementos {
                  display: flex;
                  flex-direction: column;
                  // -----------------------------------------
              }
              // -----------------------------------------
              .descripcion {
                  height: auto !important;
              }
          }
      }
      // -----------------------------------------
      .botones {
          margin-bottom: -2px;
      }
  }
}

// // -----------------------------------------
// .formulario {
//     // -----------------------------------------
//     .cont-titulo {
//         mat-card {
//             mat-card-title {
//
//             }
//         }
//     }
//     // -----------------------------------------
//     .cont-opciones {
//         // -----------------------------------------
//         .form-ingreso {
//             // -----------------------------------------
//             mat-form-field {
//             }
//             // -----------------------------------------
//             span {
//
//             }
//             // -----------------------------------------
//             .dos-elementos {
//                 // -----------------------------------------
//                 .form-categoria,
//                 .form-moneda {
//                 }
//             }
//         }
//     }
//     // -----------------------------------------
//     .botones {
//         // -----------------------------------------
//         .btn-cancelar {
//
//         }
//         // -----------------------------------------
//         .btn-ingresar {
//
//         }
//     }
// }
// @media screen and (max-width: 770px) {
//     .dos-elementos {
//         display: flex;
//         flex-direction: column;
//     }
// }
