@import 'themes';
@import '~@nebular/theme/styles/globals';
@import '~@nebular/bootstrap/styles/globals';
@import '~@nebular/auth/styles/globals';

$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";
@import '~@nebular/auth/styles/globals';


i{
  font-size: 26px !important;
}

@include nb-install() {
    @include nb-theme-global();
    @include nb-bootstrap-global();
    @include nb-auth-global();
}

;
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F1F5F8 !important;
}

html {
    height: 100%;
    width: auto;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Font color of the label of the mat-form-field
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgb(17, 16, 16);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
