<nb-layout>

    <nb-layout-header fixed>
        <app-encabezado></app-encabezado> <!--llamado al componente encabezado-->
    </nb-layout-header>

    <nb-layout-column>
        <div class="imagenContent">
            <img src="../../../assets/logo-pagina/logo_cartin.png" alt="Logo Laboratorios Cartín">
        </div>    
    </nb-layout-column>

    <nb-sidebar tag="menu-sidebar">
        <app-barra-menu></app-barra-menu> <!--llamado al componente menú-->
    </nb-sidebar>

    <nb-layout-footer fixed>
        <app-pie-pagina></app-pie-pagina> <!--llamado al componente footer-->
    </nb-layout-footer>

</nb-layout>
